.name {
    margin-left: 30px;
    width: 1000px;
    position: absolute;
    transition: bottom 0.5s;
    bottom: -40px;
}
.name.active {
    bottom: 215px;
}

.name-text {
    font-family: 'Righteous', cursive;
    position: fixed;
    font-size: 244px;
    width: inherit;
    overflow: hidden;
}

.name-animation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: ease-in-out 0.5s;
    transform: rotate(-270deg);
    height: 284px;
    width: 200px;
}
.name-animation.active {
    transform: rotate(0deg);
    height: 460px;
    width: 240px;
}

.name-container {
    position: absolute;
    height: 244px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    transition: cubic-bezier(.29,.66,.77,1) 0.3s;
}
.name-container.active {
    width: 1000px;
}
.name-container.matthew {
    top: 0px;
}
.name-container.williams {
    bottom: 0px;
    z-index: -1;
}