.title-buttons-container {
    margin-top: -30px;
    height: 160px;
    display: flex;
    opacity: 1;
    transition: ease-in-out 0.2s;
}
.title-buttons-container.active {
    opacity: 0;
}

.title-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    width: 120px;
    height: 120px;
    margin: 15px;
    cursor: pointer;
    transition: 0.2s;
}
.title-button-icon {
    line-height: 80px;
    text-align: center;
    font-size: 50px;
}
.title-button-name {
    margin-top: -30px;
    font-family: 'Roboto';
    font-size: 18px;
}
.fa-angle-double-down.active{
    transform: rotate(180deg);
}