.portfolio-body-wrapper {
    margin-top: 200px;
    height: calc(100vh - 200px);
    background: #f0f0f0;
    width: 100%;
    overflow-y: scroll;
}
.portfolio-body-wrapper::-webkit-scrollbar {
    width: 10px;
}

.portfolio-body-wrapper::-webkit-scrollbar-track {
    background: #f0f0f0; 
}

.portfolio-body-wrapper::-webkit-scrollbar-thumb {
    background: #232323; 
}

.portfolio-body {
    background: #f0f0f0;
    margin-top: 50px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.portfolio-body-top {
    margin: 50px;
}

.portfolio-body-image {
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
    max-height:100%; max-width:100%;
}

.line {
    width: 2px;
    height: 40px;
    background: #232323;
}
.line.short {
    height: 10px;
}

.body-project-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px
}

.year {
    background: #fdfdfd;
    color: #3f3f3f;
    border-radius: 5px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}